<!DOCTYPE html>
<html lang="en">

<head>
    <!--
        Futuramente adicionar rastreador de atividade do google analytics
        Futuramente adicionar metatags de SEO
     -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkBrabo</title>
    <link rel="stylesheet" href="/style.css">
    <!--
    Futuramente mover esse estilo para a pasta
    public/style.css e configurar no 
    app.js
     -->
</head>

<body>
    {{!-- {{> header}} --}}
    {{{ body }}}
    {{!-- {{> footer}} --}}
</body>

</html>