<div class="basic__container">
    <div class="basic__element principal__font">
        <img class="skull__img" src="assets/404skull.svg" alt="skull image">
        <h1>{{message}} - {{status}}</h1>
        {{#if user}}
        <a href="/home">Voltar</a>
        {{else}}
        <a href="/login">Voltar</a>
        {{/if}}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const savedTheme = localStorage.getItem('selectedTheme');
        if (savedTheme) {
            const theme = JSON.parse(savedTheme);
            applyTheme(theme);
        }
    });

    function applyTheme(theme) {
        for (const style in theme) {
            document.documentElement.style.setProperty(style, theme[style]);
        }
    }
</script>