<div class="basic__container">
    <div class="basic__element principal__font">
        <img class="skull__img" src="assets/404skull.svg" alt="skull image">
        <h1>{{message}} - {{status}}</h1>
        {{#if user}}
        <a href="/home">Voltar</a>
        {{else}}
        <a href="/login">Voltar</a>
        {{/if}}
    </div>
</div>