<div class="basic__container principal__font">
    <div class="basic__element_big">
        <div class="left">
            Welcome: {{user.nickName}}
            <br>
            <br>
            Desenvolver perfil
        </div>
        <br>
        <br>
        <div class="right">
            <a href="/home/label">Registrar novo Link</a>

            <br>
            <br>
           
            desenvolver listagem de links, em cada linha deve ter botão para atualizar ou deletar um link
        </div>
    </div>
</div>