<div class="basic__container">
    <div class="basic__element_big">
        <div class="left">
            Welcome: {{user.nickName}}
        </div>
        <div class="right">
            teste
        </div>
    </div>
</div>