<div class="basic__container">
    <form action="/login" method="POST" class="basic__element principal__font">
        <h1>Bem vindo ao link brabo</h1>
        <input class="principal__font" name="nickName" type="text" placeholder="nickname">
        <input class="principal__font" name="password" type="password" placeholder="password">
        <button class="principal__font" type="submit">LOGIN</button>
        {{> successMessage}}
        {{> errorMessage}}
        <a href="/registro">Criar token de acesso</a>
    </form>
</div>