<div class="basic__container">
    <div class="basic__element principal__font">
        <h2>Bem vindo ao link brabo</h2>
        <input class="principal__font" type="text" placeholder="nickname">
        <input class="principal__font" type="password" placeholder="password">
        <button class="principal__font">LOGIN</button>
        <a href="./registro">Criar token de acesso</a>
    </div>
</div>
