<div class="basic__container">
    <div class="basic__element principal__font">
        <h2 class="principal__font">Registro</h2>
        <form action="/registro" method="POST">
            <input class="principal__font" name="nickName" type="text" placeholder="nickname">
            <input class="principal__font" type="password" name="password" placeholder="password">
            <button class="principal__font" type="submit">CRIAR</button>
        </form>
        <a href="./">Voltar</a>
    </div>
</div>